### import

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../Data/Raw/glassdoor.csv")
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,PCS Global Tech\n4.7,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\n· Analyze and organize raw d...,"$70,000 /yr (est.)",501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable
1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,$42.50 /hr (est.),NaN,NaN,NaN,NaN,NaN,NaN
2,Clairvoyant\n4.4,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,$67.50 /hr (est.),51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable
3,Apple\n4.2,4.2,"Cupertino, CA",Data Engineer,"Summary\nPosted: Dec 22, 2021\nWeekly Hours: 4...",NaN,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD)
4,Skytech Consultancy Services\n5.0,5.0,"Baltimore, MD",Data Engineer,Description of Work:\nTechnical experience in ...,$65.00 /hr (est.),1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

In [3]:
# let check the dtypes of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           1551 non-null   object
 1   company_rating    1358 non-null   float64
 2   location          1554 non-null   object
 3   job_title         1554 non-null   object
 4   job_description   1554 non-null   object
 5   salary_estimate   1277 non-null   object
 6   company_size      1442 non-null   object
 7   company_type      1442 non-null   object
 8   company_sector    1260 non-null   object
 9   company_industry  1260 non-null   object
 10  company_founded   1131 non-null   float64
 11  company_revenue   1442 non-null   object
dtypes: float64(2), object(10)
memory usage: 145.9+ KB

In [4]:
df.describe()

       company_rating  company_founded
count     1358.000000      1131.000000
mean         3.925626      1975.934571
std          0.535826        51.461792
min          1.000000      1636.000000
25%          3.600000      1965.000000
50%          3.900000      1997.000000
75%          4.200000      2009.000000
max          5.000000      2022.000000

### checking the null values

In [5]:
df.isna().sum()

company               4
company_rating      197
location              1
job_title             1
job_description       1
salary_estimate     278
company_size        113
company_type        113
company_sector      295
company_industry    295
company_founded     424
company_revenue     113
dtype: int64

### The most important column is "company", if it's null that means that the job didn't get scraped and therefore the other columns would alsoe be null

In [6]:
df = df.dropna(subset=['company'])

In [7]:
df.isnull().sum()

company               0
company_rating      193
location              0
job_title             0
job_description       0
salary_estimate     277
company_size        112
company_type        112
company_sector      294
company_industry    294
company_founded     423
company_revenue     112
dtype: int64

### Cleaning the company name by removing the associated rating

In [8]:
df['company'] = df['company'].apply(lambda x: x.split('\n')[0].strip())
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,PCS Global Tech,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\n· Analyze and organize raw d...,"$70,000 /yr (est.)",501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable
1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,$42.50 /hr (est.),NaN,NaN,NaN,NaN,NaN,NaN
2,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,$67.50 /hr (est.),51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable
3,Apple,4.2,"Cupertino, CA",Data Engineer,"Summary\nPosted: Dec 22, 2021\nWeekly Hours: 4...",NaN,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD)
4,Skytech Consultancy Services,5.0,"Baltimore, MD",Data Engineer,Description of Work:\nTechnical experience in ...,$65.00 /hr (est.),1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

### Correctly formating the salary estimate, and converting the hourly to annually

In [9]:
import re

def clean_salary(salary_string):

    if pd.isnull(salary_string):
        return np.nan
    else:
        match_year = re.search(r'\$(\d{1,3},?\d{0,3},?\d{0,3}) \/yr \(est.\)', salary_string)
        match_hour = re.search(r'\$(\d+(\.\d+)?) \/hr \(est.\)', salary_string)

        if match_year:
            salary_amount = float(match_year.group(1).replace(',', ''))
        elif match_hour:
            hourly_salary = float(match_hour.group(1))
            salary_amount = hourly_salary * 1800
        else:
            salary_amount = np.nan

        return salary_amount

In [10]:
df['salary_estimate'] = df['salary_estimate'].apply(clean_salary)

In [11]:
df['salary_estimate'].head()

0     70000.0
1     76500.0
2    121500.0
3         NaN
4    117000.0
Name: salary_estimate, dtype: float64

### Now let's replace the null salary estimates with the mean

In [12]:
df['salary_estimate'].fillna(df['salary_estimate'].mean(),inplace=True)

### Let's round the clean salary estimate

In [13]:
df['salary_estimate'] = df['salary_estimate'].round().astype(int)

In [14]:
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,PCS Global Tech,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\n· Analyze and organize raw d...,70000,501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable
1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,76500,NaN,NaN,NaN,NaN,NaN,NaN
2,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\nMust have 5-8+ Years of expe...,121500,51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable
3,Apple,4.2,"Cupertino, CA",Data Engineer,"Summary\nPosted: Dec 22, 2021\nWeekly Hours: 4...",115173,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD)
4,Skytech Consultancy Services,5.0,"Baltimore, MD",Data Engineer,Description of Work:\nTechnical experience in ...,117000,1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

### Extracting the state from the job location

In [15]:
df['location'] = df['location'].astype(str)

In [16]:
df['job_state'] = df['location'].apply(lambda x:x if x.lower() == 'remote' else x.split(', ')[-1])

In [17]:
df['job_state'].value_counts()

Remote           234
CA               167
TX               159
VA                77
United States     58
                ...
NH                 1
Florida            1
Rhode Island       1
ID                 1
Maryland           1
Name: job_state, Length: 67, dtype: int64

### Replacing the 'United States' in job_state with the most common state (the state should not be Remote)

In [18]:
df['job_state'] = df['job_state'].replace({"United States":df.job_state.value_counts().index.tolist()[1]})

In [19]:
df.job_state.value_counts()

Remote          234
CA              225
TX              159
VA               77
NY               57
               ...
HI                1
Florida           1
Rhode Island      1
ID                1
Maryland          1
Name: job_state, Length: 66, dtype: int64

In [20]:
# Function to map full state names to abbreviations
state_name_to_abbr = {
    'California': 'CA', 'New York': 'NY', 'Texas': 'TX', 
    'Virginia': 'VA', 'Oregon': 'OR', 'Illinois': 'IL', 
    'Pennsylvania': 'PA', 'Minnesota': 'MN', 'Arizona': 'AZ', 
    'Wisconsin': 'WI', 'Michigan': 'MI', 'Missouri': 'MO', 
    'Florida': 'FL', 'Ohio': 'OH', 'New Jersey': 'NJ'
}

# Apply the mapping to standardize state names
df['job_state'] = df['job_state'].replace(state_name_to_abbr)

### Replacing company rating null values with median

In [21]:
df.columns

Index(['company', 'company_rating', 'location', 'job_title', 'job_description',
       'salary_estimate', 'company_size', 'company_type', 'company_sector',
       'company_industry', 'company_founded', 'company_revenue', 'job_state'],
      dtype='object')

In [22]:
df['company_rating'] = df['company_rating'].fillna(df.company_rating.median())

### Adding a new column that contains the age of the company

In [23]:
df['company_founded'] = df['company_founded'].fillna(-1)
df['company_founded'] = df['company_founded'].astype(int)

In [24]:
import datetime

today = datetime.datetime.now()

df['company_age'] = df.company_founded.apply(lambda x: x if x < 0 else today.year - x)

df['company_age'].head()

0    -1
1    -1
2    -1
3    48
4    -1
Name: company_age, dtype: int64

In [25]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    else:
        return 'na'

In [26]:
df['job_simp'] = df['job_title'].apply(title_simplifier)
df.job_simp.value_counts()

data engineer     1110
na                 414
mle                 10
data analyst         9
data scientist       8
Name: job_simp, dtype: int64

In [27]:
df = df[df['job_simp'] == 'data engineer']

df.job_simp.value_counts()

data engineer    1110
Name: job_simp, dtype: int64

In [28]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [29]:
df['seniority'] = df['job_title'].apply(seniority)
df.seniority.value_counts()

na        759
senior    349
junior      2
Name: seniority, dtype: int64

In [30]:
df = df[df['seniority'] != "junior"]

df.seniority.value_counts()

na        759
senior    349
Name: seniority, dtype: int64

### Extracting relevant skills from job description

In [31]:
prog_languages = ['python', 'java', 'scala', 'go', 'r', 'c', 'c++', 'c#', 'sql', 'rust', 'bash']
cloud_tools = ['aws', 'azure', 'gcp']
viz_tools = ['power bi', 'tableau', 'excel', 'ssis', 'qlik', 'sap', 'looker']
databases = ['sql server', 'nosql', 'postgresql', 'mongodb', 'mysql', 'oracle', 'casandra', 'elasticsearch', 'dynamodb', 'snowflake', 'redis', 'neo4j', 'hive', 'databricks', 'redshift']
big_data = ['spark', 'hadoop', 'flink']
data_tools = ['airflow', 'kafka', 'dbt']
devops = ['gitlab', 'terraform', 'kubernetes', 'docker', 'jenkins', 'ansible']

import re

def extract_keywords(description, keywords):
    pattern = r'\b(?:{})\b'.format('|'.join(map(re.escape, keywords)))
    matches = set(re.findall(pattern, description.lower(), flags=re.IGNORECASE))
    
    return list(matches)

In [32]:
df['job_languages'] = df['job_description'].apply(lambda x: extract_keywords(x, prog_languages))
df['job_cloud'] = df['job_description'].apply(lambda x: extract_keywords(x, cloud_tools))
df['job_viz'] = df['job_description'].apply(lambda x: extract_keywords(x, viz_tools))
df['job_databases'] = df['job_description'].apply(lambda x: extract_keywords(x, databases))
df['job_bigdata'] = df['job_description'].apply(lambda x: extract_keywords(x, big_data))
df['job_datatools'] = df['job_description'].apply(lambda x: extract_keywords(x, data_tools))
df['job_devops'] = df['job_description'].apply(lambda x: extract_keywords(x, devops))

### Extracting Education from job description

In [33]:
education = ['associate', 'bachelor', 'master', 'phd']

In [34]:
def extract_degree(description, degrees):
    pattern = r'\b(?:{})\b'.format('|'.join(map(re.escape, degrees)))
    matches = re.findall(pattern, description.lower(), flags=re.IGNORECASE)
    
    if matches:
        return matches[0]
    
    return None

In [35]:
df['job_education'] = df['job_description'].apply(lambda x: extract_degree(x, education))

df['job_education'].value_counts()

bachelor     481
master        77
associate     35
phd            8
Name: job_education, dtype: int64

In [36]:
df = df[df['job_education'] != "associate"]
df = df[df['job_education'] != "phd"]

df['job_education'].value_counts()

bachelor    481
master       77
Name: job_education, dtype: int64

### Let's extract the experience needed to apply for the job

In [37]:
import re

def extract_experience(description):
    pattern = r'(?:Experience level|experience|\+).*(?:\n.*)*(\d+|\+)\s*(?:year|years|\+ years|\+ years of experience)'
    matches = re.findall(pattern, description, flags=re.IGNORECASE)
    
    if matches:
        experience = matches[0]
        if experience == '+':
            return "+10 years"
        elif int(experience) < 2:
            return "0-2 years"
        elif int(experience) < 5:
            return "2-5 years"
        elif int(experience) < 10:
            return "5-10 years"
        else:
            return "+10 years"
    else:
        return None

In [38]:
df['job_experience'] = df['job_description'].apply(lambda x: extract_experience(x))

df['job_experience'].value_counts()

+10 years     282
5-10 years    169
2-5 years     142
0-2 years     137
Name: job_experience, dtype: int64

### Binning The Company Size

In [44]:
# Define the bins and the corresponding labels
size_bins = {
    '1 to 50 Employees': 'Small',
    '51 to 200 Employees': 'Small',
    '201 to 500 Employees': 'Medium',
    '501 to 1000 Employees': 'Medium',
    '1001 to 5000 Employees': 'Large',
    '5001 to 10000 Employees': 'Large',
    '10000+ Employees': 'Very Large',
    'Unknown': 'Unknown',
    np.nan:'Unknown'
}

# Apply the binning
df['company_size'] = df['company_size'].replace(size_bins)

In [49]:
data_path = '../Data/Cleaned/'

df.to_csv(data_path + "glassdoor-cleaned.csv", index=False)